.section_images{
  display: flex;
  width: 100%;
  img{
    display: block;
    width: 100%;
  }
}

.product_items{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}



@media screen and (max-width: 700px) {
  .section_images{
    display: flex;
    width: 100%;
    justify-content: center;
    overflow-x:hidden ;
    img{
      display: block;
      width: 350%;
    }
  }
  .infoWrapper{
    flex-direction: column;
    align-items: center;
  }
  .product_items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
}