.footer {
  background-color: var(--brown);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8rem;
  padding-bottom: 15px;
  p {
    margin-top: 10px;
    color: #fff;
  }
  .footer-wrapper{
    margin-top: 15px;
  }
  .footer-link {
    margin: 15px 5px 0 5px;
  }
}