.modalCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 999;
  right: 45px;
  top: 100px;
  background-color: rgba(215, 192, 178, 0.95);
  padding: 5px;
  border-radius: 5px;
  width: 501px;
  max-height:800px;
  .box{
    top: -9px;
    transform: rotate(45deg);
    right: 17px;
    z-index: 1;
    position: absolute;
    background-color: rgba(215, 192, 178, 0.95);
    width: 20px;
    height: 20px;
  }
  &__header{
    width: 95%;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    &_title{
      font-size: 20px;
      font-weight: 600;
    }
    &_quantity{
      font-size: 20px;
      color: black;
    }
  }
  &_main {
    overflow-y: scroll;

    max-height: 600px;
    &_cart{

      .modalCart__header{


      }
      .modalCart__item{
        margin: 0;
        &_wrapper{
          display: flex;
          margin-bottom: 20px;
          align-items: center;

          &_img{
            width: 30%;
            height: auto;
            border-radius: 10px;
            img{
              width: 100%;
            }
          }
          &_desc{
            width: 50%;
            padding-left: 10px;
            display: flex;
            flex-direction: column;
            .title{
              font-size: 20px;
              font-weight: 500;
            }
            .btn__group{
              margin-top: 20px;
              display: flex;
              align-items: center;
            }
            .count{
              margin-right: 10px;
              background: #E2EAEF;
              border-radius: 5px;
              display: flex;
              width: 90px;
              height: 30px;
              align-items: center;
              justify-content: space-around;
              &__btn{
                background: #FFFFFF;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: none;
              }
            }
          }
        }
      }
    }
  }
  &__total{
    font-size: 20px;
    span{
      font-weight: 600;
    }
  }
  &__btn{
    width: 200px;
    height: 30px;
    padding: 8px 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    transition: 0.3s all;
    cursor: pointer;

    &:hover {
      background: #cebeaf;
    }
  }
}

@media screen and (max-width: 900px) {
  .modalCart {
    right: 10px;
    top: 50px;
  }
}

@media screen and (max-width: 700px) {
  .modalCart {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 70%;
    max-height: 450px;
    &_main {
      width: 95%;
      height: 75%;
      &_cart{

        .modalCart__item{
          &_wrapper{
            &_img{
              width: 200px;
            }
            &_desc{
              .title{
                font-size: 14px;
              }
              p{
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    &__total{
      font-size: 15px;
      span{
        font-weight: 600;
      }
    }
  }
}


