.slider {
  padding-top: 80px;
  max-width: 1000px;
  margin: 0 auto;

  &__titleImage {
    display: flex;
    justify-content: center;

    img {
      width: 300px;
    }
  }

  .slide {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
    position: relative;
    width: 300px;


  }
}

